In [24]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [22]:
data=pd.read_csv('settle2.csv')

In [23]:
data.size

9548

In [4]:
data.dtypes

is_cluster                  object
pocket_name                 object
pocket_alias                object
ward_id                      int64
ward_councillor             object
avg_hhsize                 float64
area_ha                    float64
density_dwellings          float64
structure_count              int64
age_of_is                   object
upgrade_category            object
temp_sanitation            float64
toilets_full_flush         float64
toilets_chemical           float64
toilets_portable           float64
toilets_container          float64
toilets_other              float64
toilets_total              float64
ratio_toilets_dwellings     object
pocket_code                 object
centroidx                  float64
centroidy                  float64
dtype: object

In [5]:
data.columns

Index(['is_cluster', 'pocket_name', 'pocket_alias', 'ward_id',
       'ward_councillor', 'avg_hhsize', 'area_ha', 'density_dwellings',
       'structure_count', 'age_of_is', 'upgrade_category', 'temp_sanitation',
       'toilets_full_flush', 'toilets_chemical', 'toilets_portable',
       'toilets_container', 'toilets_other', 'toilets_total',
       'ratio_toilets_dwellings', 'pocket_code', 'centroidx', 'centroidy'],
      dtype='object')

In [6]:
data.shape

(434, 22)

In [8]:
data.head()

,is_cluster,pocket_name,pocket_alias,ward_id,ward_councillor,avg_hhsize,area_ha,density_dwellings,structure_count,age_of_is,...,toilets_full_flush,toilets_chemical,toilets_portable,toilets_container,toilets_other,toilets_total,ratio_toilets_dwellings,pocket_code,centroidx,centroidy
0,4 in 1,4 in 1,Wallacedene 14 / J Section,19100006,Simpiwe Nonkeyizana,3.72,2.952,50.813008,150,15 - 20 years,...,32.0,0.0,0.0,0.0,0.0,32.0,1:5,NORFOU001,18.732603,-33.863384
1,Acacia Road,Acacia Road,Acacia Park - Parktown,19100066,Melanie Arendse,4.51,0.070,114.285714,8,10 - 15 years,...,3.0,2.0,0.0,0.0,0.0,5.0,1:2,HILACA001,18.501024,-34.032822
2,Amy Biehl,Amy Biehl,School Site,19100034,Fikiswa Nkunzana,2.89,1.711,301.578025,516,15 - 20 years,...,93.0,0.0,0.0,0.0,0.0,93.0,1:6,MITAMY001,18.587852,-34.002772
3,Appel Boord,Appel Boord,NaN,19100022,Johanna Martlow,4.14,0.088,159.090909,14,5 - 10 years,...,10.0,0.0,0.0,0.0,0.0,10.0,1:1,TYGAPP001,18.609142,-33.926268
4,Area K,Area K,Never Never,19100088,Patrick (Pat) Pietersen,4.17,2.661,249.154453,663,10 - 15 years,...,121.0,0.0,0.0,0.0,0.0,121.0,1:5,MITARE001,18.598543,-34.008208

In [13]:
data.set_index('centroidy', inplace=True)

In [16]:
missing_data=data.isnull().sum()
print(missing_data)

is_cluster                   0
pocket_alias               242
ward_id                      0
ward_councillor              0
avg_hhsize                   0
area_ha                      0
density_dwellings            0
structure_count              0
age_of_is                    0
upgrade_category             0
temp_sanitation              0
toilets_full_flush           0
toilets_chemical             0
toilets_portable             0
toilets_container            0
toilets_other                0
toilets_total                0
ratio_toilets_dwellings     91
pocket_code                  0
centroidx                    0
dtype: int64

In [19]:
col=['avg_hhsize', 'area_ha']

In [20]:
min= MinMaxScaler()
df_normalized = data.copy()
df_normalized[col] = min.fit_transform(data[col])
print(df_normalized)

                    is_cluster                pocket_alias   ward_id  \
centroidy
-33.863384              4 in 1  Wallacedene 14 / J Section  19100006
-34.032822         Acacia Road      Acacia Park - Parktown  19100066
-34.002772           Amy Biehl                 School Site  19100034
-33.926268         Appel Boord                         NaN  19100022
-34.008208              Area K                 Never Never  19100088
...                        ...                         ...       ...
-33.734345  Wolweriver Pockets                         NaN  19100104
-34.029229         YAB Section        Victoria Mxenge 8645  19100091
-34.029142         YAB Section        Victoria Mxenge 8317  19100091
-34.034671          Zille Rain         Zille Rains Heights  19100110
-34.039633        Zola Section                         NaN  19100097

                    ward_councillor  avg_hhsize   area_ha  density_dwellings  \
centroidy
-33.863384      Simpiwe Nonkeyizana    0.523973  0.004395          50.813008
-34.032822          Melanie Arendse    0.794521  0.000090         114.285714
-34.002772         Fikiswa Nkunzana    0.239726  0.002541         301.578025
-33.926268          Johanna Martlow    0.667808  0.000117         159.090909
-34.008208  Patrick (Pat) Pietersen    0.678082  0.003960         249.154453
...                             ...         ...       ...                ...
-33.734345        Lubabalo Makeleni    0.130137  0.011770           5.323869
-34.029229           Monde Mabandla    0.417808  0.001987         202.985075
-34.029142           Monde Mabandla    0.417808  0.001439          27.749229
-34.034671           Shanen Rossouw    0.808219  0.001182          66.167291
-34.039633        Mthwalo Mkutswana    0.527397  0.000122         260.869565

            structure_count      age_of_is  \
centroidy
-33.863384              150  15 - 20 years
-34.032822                8  10 - 15 years
-34.002772              516  15 - 20 years
-33.926268               14   5 - 10 years
-34.008208              663  10 - 15 years
...                     ...            ...
-33.734345               42  15 - 20 years
-34.029229              272     > 20 years
-34.029142               27  15 - 20 years
-34.034671               53   5 - 10 years
-34.039633               24  10 - 15 years

                                             upgrade_category  \
centroidy
-33.863384                         City land. Can be upgraded
-34.032822        Many constraints.  May need to be relocated
-34.002772  Provincial or National government land.  Some ...
-33.926268                         City land. Can be upgraded
-34.008208  Provincial or National government land.  Some ...
...                                                       ...
-33.734345  Provincial or National government land.  Some ...
-34.029229  Provincial or National government land.  Some ...
-34.029142                         City land. Can be upgraded
-34.034671                         City land. Can be upgraded
-34.039633  Provincial or National government land.  Some ...

            temp_sanitation  toilets_full_flush  toilets_chemical  \
centroidy
-33.863384         0.000000                32.0               0.0
-34.032822        40.000000                 3.0               2.0
-34.002772         0.000000                93.0               0.0
-33.926268         0.000000                10.0               0.0
-34.008208         0.000000               121.0               0.0
...                     ...                 ...               ...
-33.734345       100.000000                 0.0              18.0
-34.029229         0.000000                 0.0               0.0
-34.029142         0.000000                 0.0               0.0
-34.034671       100.000000                 0.0              16.0
-34.039633        95.979899                 8.0               0.0

            toilets_portable  toilets_container  toilets_other  toilets_total  \
centroidy
-33.863384               0.0                0.0            0.0           32.0
-34.032822               0.0                0.0            0.0            5.0
-34.002772               0.0                0.0            0.0           93.0
-33.926268               0.0                0.0            0.0           10.0
-34.008208               0.0                0.0            0.0          121.0
...                      ...                ...            ...            ...
-33.734345              30.0                0.0            6.0           54.0
-34.029229               0.0                0.0            0.0            0.0
-34.029142               0.0                0.0            0.0            0.0
-34.034671               0.0                0.0            0.0           16.0
-34.039633             191.0                0.0            0.0          199.0

           ratio_toilets_dwellings pocket_code  centroidx
centroidy
-33.863384                     1:5   NORFOU001  18.732603
-34.032822                     1:2   HILACA001  18.501024
-34.002772                     1:6   MITAMY001  18.587852
-33.926268                     1:1   TYGAPP001  18.609142
-34.008208                     1:5   MITARE001  18.598543
...                            ...         ...        ...
-33.734345                     1:1   NORWOL001  18.517303
-34.029229                     NaN   KHAYAB003  18.662064
-34.029142                     NaN   KHAYAB002  18.663659
-34.034671                     1:3   HILZIL001  18.499941
-34.039633                     1:0   KHAZOL001  18.680415

[434 rows x 20 columns]

'area_ha' column is a float data type.
This column represents area of the settlements collected in this dataset.
It can be used in machine learning as it is numerical